<div class="container">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <h1>Mqtt Status:</h1>
  <h1 id="mqtt">Disconnected</h1>



  <button id="lamp" type="button" onclick="toggleLamp()" name="button">ON</button>
  <h1 id="ldr">98</h1>
</div>








<script src="/javascripts/browserMqtt.js" charset="utf-8"></script>
<script src="/javascripts/mqtt.js" charset="utf-8"></script>
