<div class="container">
  <div class="page-header">
    <h1>{{title}}<small> Welcome to {{title}}</small></h1>
  </div>
  <div class="panel panel-default text-center">
    <div class="panel-heading">  <h2>Mqtt Status:</h2></div>
    <div class="panel-body">
      <h3 id="mqtt">Disconnected</h3>
    </div>
  </div>
  <h1></h1>
  <div class="panel panel-default  text-center">
        <div class="panel-heading"><h2><i class="icon-lightbulb"></i> Lâmpada</h2>  </div>
        <div class="panel-body">
          <button id="lamp" type="button" class="btn btn-success btn-lg  btn-block" onclick="toggleLamp()" name="button">ON</button>
        </div>
  </div>
  <div class="panel panel-default text-center">
        <div class="panel-heading"><h2>LDR</h2>        
            <b>Email Notifications:</b>
            <button id="enablemail" type="button" class="btn btn-success btn-lg" onclick="enableMail()" name="button">ON</button>
        </div>
        <div class="panel-body">
            <h3 id="ldr">98</h3>
        </div>
  </div>




</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/app.js" charset="utf-8"></script>
